<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /saadelghanemy/public/
    
    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|font.css|css|js)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
</IfModule>
# Force PHP 8.1
<FilesMatch \.php$>
   AddHandler application/x-httpd-ea-php81 .php .php8 .phtml
</FilesMatch>
